/* Global */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f9;
}

/* Top Bar */
.top-bar {
  background: #111;
  color: #fff;
  padding: 8px 30px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  font-size: 13px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
}

.top-bar a:hover {
  text-decoration: underline;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #fff;
}

.nav li:hover::after {
  width: 100%;
}

/* Header */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  background: #fff;
}

.logo img {
  width: 60px;
}
.logo h2 {
  margin: 0;
  font-size: 18px;
}

/* Navbar */
.nav {
  background: linear-gradient(to right, #1f6fa8, #155a8a);
  padding: 10px 0;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  color: #fff;
  cursor: pointer;
  position: relative;
}

.nav li::after {
  height: 2px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.nav li:hover::after {
  width: 100%;
}

/* Section Common */
section {
  padding: 60px 80px;
}
h1,
h2 {
  text-align: center;
}
span {
  color: #1f6fa8;
}

.underline {
  width: 60px;
  height: 3px;
  background: #1f6fa8;
  margin: 10px auto 40px;
}

/* About */
.about-container {
  display: flex;
  gap: 40px;
}

.about-text p {
  color: #555;
  line-height: 1.6;
}

.about-text h3 {
  color: #1f6fa8;
  font-size: 18px;
  margin-top: 15px;
}

.about-text p {
  color: #555;
  font-size: 14px;
  line-height: 1.7;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.about-images img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.read-btn {
  margin-top: 20px;
  padding: 10px 22px;
  background: linear-gradient(to right, #1f6fa8, #155a8a);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.read-btn:hover {
  background: linear-gradient(to right, #155a8a, #0f4c75);
  transform: translateY(-2px);
}

/* Services */
.services {
  background: #eef2f5;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Card */
.card {
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.card h4 {
  margin: 0;
  padding: 12px;
  text-align: center;
}

.card:hover {
  transform: translateY(-4px);
  border-color: #1f6fa8;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card:hover h4 {
  color: #1f6fa8;
}

/* Text block */
.services-text {
  max-width: 900px;
  margin: auto;
  color: #444;
  line-height: 1.6;
}
